header {
  width: 100%;
  background-color: lightblue;
  font-size: small;
}

h2 {
  text-align: left;
}

ul {
  text-align: right;
  color: #ffffff;
}

/* List items in navigation bar */
li {
  /* TODO: Add your code here */
  list-style-type: none;
  font-size: 40px;
}

/* Boxes */

#item-1 {
  background-color: #e0115f;
  color: white;
  display: inline;
  font-size: 18px;
  margin-left: 800px;
}

#item-2 {
  background-color: #0000ff;
  color: white;
  display: inline;
  font-size: 18px;
  margin-right: 0px;
}

#item-3 {
  background-color: #999900;
  color: white;
  font-size: 18px;
  display: inline;
  margin-left: 0px;
}

img {
  margin-left: 500px;
  margin-bottom: 0px;
  height: 100px;
  weight: 100px;
  display: block;
}
