#lesson {
  background-color: lemonchiffon;
}

.title {
  color: darkblue;
  font-size: 35px;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange;
}

.P1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
}
